.about {
    font-size: 40px;
    width: 100%;
    padding: 20px;
}

.aboutBlurb {
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 20px;
}
.aboutBody {
    padding: 20px;
}
.blurb {
    font-size: 13px;
}

.stuart, .frank {
    font-size: 24px;
    margin-top: 40px;
}

.frankImg {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 50%;
    width: 40%;
    float: right;
    margin: 20px;
}
.stuartImg {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 50%;
    width: 40%;
    float: left;
    margin: 20px;
}