.about {
    font-size: 40px;
    width: 100%;
    padding: 20px;
    text-align: left;
}

.blurb {
    font-size: 13px;
}

.stuart, .frank {
    font-size: 30px;
    margin-top: 40px;
}

.frankImg {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 50%;
    width: 40%;
    float: right;
    margin: 20px;
}
.stuartImg {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 50%;
    width: 40%;
    float: left;
    margin: 20px;
}