.about {
    font-size: 4rem;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.aboutBlurb {
    font-size: 20px;
    padding: 30px;
}
.aboutBody {
    padding: 20px;
}
.blurb {
    font-size: 18px;
}

.stuart, .frank {
    font-size: 24px;
    margin-top: 40px;
}

.frankImg {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 50%;
    width: 30%;
    float: right;
    margin: 20px;
}
.stuartImg {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 50%;
    width: 30%;
    float: left;
    margin: 20px;
}