.aboutDivOverlay {
    background-color: white;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    text-align: center;
    
  }
  
  .aboutCard {
      background-color: white;
      background: rgba(255, 255, 255, 0.8);
      border-radius: 5px;
      color: black;
  }
  
  .aboutText {
    text-shadow: 2px 2px 5px white;
    color: black;
    margin: 2px;
    text-align: left;
  }
  .aboutTextBottom {
    text-shadow: 2px 2px 5px white;
    color: black;
    padding: 30px;
  }

  .tiledImgs {
    width: 105%;
    border-radius: 5px;
    margin: 5px;
  }
  
  .growItForward {
    width: 100%;
  }
  
  .textWrap {
    float: left;
  margin: 30px;
  width: 28%;
  }

  .contactUs {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgb(255, 255, 255);
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    font-style: bold;
  }