.aboutDivOverlay {
    background-image:url("https://i.imgur.com/0Se2MSi.png");
    background-color: #387244;
    border-radius: 5px;
    text-align: center;

    
  }

  .growForwardBlurb {
      text-align: center;
      color: black;
      font-size: 1.5em;
      padding: 30px;
  }
  
  .aboutCard {
      background-color: white;
      border-radius: 5px;
      color: black;
  }
  
  .aboutTextBlurb {
    color: black;
    margin: 10px;
    text-align: left;
  }
  .aboutTextBottom {
    color: black;
    padding: 10px;
    text-align: left;
  }

  .tiledImgs {
    width: 105%;
    border-radius: 5px;
    margin: 5px;
  }
  
  .growItForward {
    width: 100%;
  }
  
  

  .contactUs {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    font-style: bold;
  }