.aboutDivOverlay {
    border-radius: 5px;
    text-align: center;

    
  }

  .growForwardBlurb {
      text-align: center;
      color: black;
      font-size: 1.3em;
      padding: 40px;
  }
  
  .aboutCard {
      background-color: white;
      border-radius: 5px;
      color: black;
  }
  
  .aboutTextBlurb {
    color: black;
    margin: 10px;
    text-align: left;
    padding: 20px;
  }
  .aboutTextBottom {
    color: black;
    text-align: left;
    margin-left: 20px;
  }

  .tiledImgs {
    width: 100%;
    border-radius: 5px;
    margin: 5px;
  }
  
  .growItForward {
    width: 90%;
  }
  
  

  .contactUs {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    border-radius: 5px;
    font-style: bold;
    width: 100%;
    
  }