

div.dash {
    color: black;
    font-size: rem;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
    margin-top: -20px;
    float: left;
}



.dashCard {
    width: 100%;
    padding: 20px;
    background-color: black;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    position: relative;
    color: white;


}
.dashText {
      padding: 10px;
      float: left;
      opacity: 1;
      text-shadow: 2px 2px 5px black;
      font-weight: bold;
  }

  .dashTextTwo {
    font-size: 100%;
    padding: 10px;
    float: left;
    text-shadow: 2px 2px 5px black;
  }


.howBtn {
    text-align: left;
    color: black;
    font-size: 25px;
}

.learnMore {
    font-weight: bold;
    padding: 15px;
    background: black(0, 0, 0, 0.6);
}

.learnMore:hover {
opacity: 0.5;
}

.arrowRight {
    margin: 5px;
}

