.dashCard {
    padding: 40px;
    background-color: #B6C2A4;
    color: black;
    text-align: left;
}

.dashImage {
    width: 100%;
    margin-top: -10%;
    border-radius: 5px;
}



.dashCardBottom {
    width: 100%;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    color: black;
    margin-top: 2%;
    text-align: center;


}
.dashCardThree {
    width: 100%;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    color: black;
    margin-top: 2%;
    text-align: center;


}
.dashText {
      float: center;
      opacity: 1;
      font-weight: bold;
      color: black;
      width: 100%;
      font-size: 20px;
      font-style: italic;
  }

  .dashCol {
      text-align: left;
      margin-top: -11%;
  }
.dashTitle {
      font-weight: bold;
      color: black;
      font-size: 30px;
      text-transform: uppercase;
  }



  .textWrapDash {
      float: right;
      margin: 5px;
  }

.arrowRight {
    font-size: 100%;
    color: black;
}

.growImgDash {
    width: 18rem;
    margin-left: -20px;
    margin-top: 5%;
}


.dashHeaders {
    background-color:black;
    background: rgba(2, 2, 2, 0.4);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
    font-size: 0.9rem;
    border-radius: 5px;
}


.lifeSkills {
    text-transform: uppercase;
    font-size: 21px;
    color: black;
    
}

.lifeSkillsText {
    font-size: 17px;
    color: black;
}

.learnMore {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    font-style: bold;
    
}

.arrow {
    padding: 5px;
}

.dashImgs {
    width: 100%;
}

.dashImgThree {
    min-height: 110px;
    max-height: 410px;
}

.dashImgTwo {
    min-height: 110px;
}

.dashBottomDiv {
    margin-bottom: 10%;
}


/* ipad */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

.dashCard {
    margin-top: 10%;
}

.dashBottomDiv {
    height: 70px;
}

}
/* ipad pro */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
      .dashBottomDiv {
          height: 360px;
      }
      .dashCard {
          margin-top: 20%;
      }
}

/* ipad pro */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .dashBottomDiv {
        height: 55px;
    }
    .dashCard {
        margin-top: 10%;
    }
}

/* iphone x portrait*/ 
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : portrait) { 
        .growImgDash {
            margin-top: 8%;
        }
        
    }
/* iphone x landscape*/ 
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : landscape) { 
       .growImgDash {
           margin-top: 20px;
       }
        
    }



/* iphone 8 */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) {
        .growImgDash {
            margin-top: 8%;
        }
     }

     /* galaxy fold */
     @media(max-width: 320px){ 
        .growImgDash {
            width: 13rem;
            margin-top: 8%;
        }
      }
