@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,200&display=swap');

div.dash {
    color: black;
    font-size: rem;
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    width: 100%;
    margin-top: -20px;
    float: left;
}



.dashCard {
    width: 100%;
    padding: 20px;
    background-color: black;
    opacity: 0.5;
    border-radius: 5px;
    height: 400px;


}


.howBtn {
    text-align: left;
    color: black;
    font-size: 25px;
}


