.aboutImgs {
  width: 30%;
  border-radius: 5px;
  float: left;
  margin: 20px;
}

.aboutImgOne {
  float: right;
  margin: 20px;
  width: 30%;
  border-radius: 5px;
}

.aboutImgTop {
  float: right;
  clear: top;
  margin: 20px;
  width: 30%;
  border-radius: 5px;
}

.aboutDiv {
  padding: 30px;
  background-color: black;
  margin-top: 30px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

.aboutText {
  text-shadow: 2px 2px 5px black;
  color: white;
  float: center;
  padding: 15px;
  width: 100%;
}

