.howWorks {
    font-size: 40px;
    width: 100%;
    padding: 20px;
}

.howText {
  font-size: 18px;
}



.howTextWrap {
    float: right;
    margin: 20px;
    width: 40%;
    border-radius: 50%;
}

.howTextBtm {
    font-size: 40px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: -25px;
}