.contactDiv {
    padding: 30px;
    background-color: black;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    position: relative;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    text-shadow: 2px 2px 5px black;
}

.contactImg {
    width: 100%;
    border-radius: 5px;;
    position: relative;
    float: left;
    margin-top: 5px;
}

.contactHeader {
    margin-top: 10px;
text-shadow: 2px 2px 5px black;
float: center;
}

.contactImgBtm {
    width: 100%;
    border-radius: 5px;
    position: relative;
    float: center;
    margin-top: 5px;
}

.contactImgCenter {
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
}

.centerCol {
    text-align: center;
}