
.contactDivText {
    background-color: white;
  border-radius: 5px;
  text-align: left;
  padding: 10px;
  width: 50%;
  margin-top: 5%;
  margin-left: 5%;
  font-size: 30px;
  margin-bottom: 5%;
    
}









