.teamCard {
    width: 100%;
    padding: 20px;
    background-color: white;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    color: black;
    text-align: center;
    margin-top: 40px;
    text-shadow: 2px 2px 6px white;
}

.frankImg {
    width: 100%;
    margin-top: 10%;
}


.titleText {
    margin-top: 5%;
}