.teamCard {
    width: 100%;
    padding: 50px;
    background-color: black;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    position: relative;
    color: white;
    text-align: center;
    margin-top: 40px;
}
