.donateInput {
    width: 100%;
}

.donateHead {
    font-size: 4rem;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;
}


.donateText {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    color: white;
}

.cardBody { 
    padding: 30px;
    color: white;
}


.nextBtn {
float: right;
}

.donateBlurb {
    text-align: center;
    padding: 20px;
    color: white;
}