
hr {
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.aboutImage {
  width: 100%

}

.textWrap {
  float: left;
  
}
.textWrapRight {
  float: right;

  
}

.italicText {
  font-style: italic;
  font-weight: bold;
}

.growLogo {
  width: 60%;
  margin-left: -30px;
}

.aboutTextOne {
float: left;
width: 47%;
margin-top: 50px;
padding: 20px;
}

.aboutTextTwo {
  float: left;
  width: 45%;
  padding: 25px;
}


.aboutTextThree {
  margin-top: -60px;
}

