@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


footer.pagefooter {
    position: absolute;
    margin-bottom: 0;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 1rem;
    padding-top: 1rem;
    
}

.icons {
    font-size: 25px;
    color: white;
}

.icons:hover {
    color: black;
}

.adLogo {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
}

.adLogo:hover {
    color:black;
}
