.product img {
  max-height: 200px;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.products .product {
  margin: 1rem;
  padding: 1rem;
  max-width: 280px;
  position: relative;
}

.products .product.hover {
  background-color: rgba(166, 203, 235, 0.1);
  color: black;
 
}

.products .product .add-to-cart {
  position: absolute;
  width: 100px;
  height: 100px;
  text-align: center;
  top: calc(50% - 100px / 2);
  left: calc(50% - 100px / 2);
  font-size: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
}

.products .product .add-to-cart div {
  font-size: 0.8rem;
}

.products .tags .tag {
  border: 1px solid rgb(172, 174, 175);
  padding: 0.5rem 1.5rem;
  display: inline-block;
  margin: 0.25rem;
  text-shadow: none;
}

.card {
  padding: 3px;
}

.productDiv {
  padding: 20px;
    background-color: white;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    color: black;
    margin-top: 4%;
    text-align: center;
    margin: 30px;
    text-shadow: none;
}