.donateDiv {
    margin-top: 25%;
    margin-bottom: 25%;
    width: 100%;
    background-color: white;
  text-align: left;
  padding: 20px;
  box-shadow: 6px 6px rgb(146, 143, 143);
  border-radius: 5px;
}

.payNow {
    color: black;
    text-transform: uppercase;
    padding: 5px;
    font-size: 1.3rem;
    font-style: bold;
    margin-top: 5%;
}

.buttonDiv {
    text-align: right;
}

.paymentForm {
    margin-top: 20px;
}

.stripeIcon {
    font-size: 2.5em;
    color: black;
}

.stripeIcon:hover {
 color: #b6c2a4;
}