@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

img.growImg {
    width: 60px;
    float: left;
    
}

img.growImgNav {
        width: 60px;
        float: left;
        margin: 8px;
        margin-top: 1.7px
}

img.growImgNav:hover {
    opacity: 0.5;
    
}

.how {
    margin: 5px;
}

.aboutUs {
    margin: 5px;
}

.contact {
    margin: 5px;
}

.donate {
    margin: 5px;
}


.how:hover{
    opacity: 0.4;

}

.aboutUs:hover {
    opacity: 0.4;
   
}

.contact:hover {
    opacity: 0.4;
    
}

.donate:hover {
    opacity: 0.4;
    
}

.links {
    text-align: right;
    padding: 25px;
    font-weight: bold;
    font-size: 15px;
}


  
div.container {
    font-weight: bold;
    }

body {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #B6C2A4;
}


.navBar {
    background-color: #B6C2A4;
    width: 100%;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    z-index: 999;
    border-radius: 5px;
}