@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

img.growImg {
    width: 40%;
    
}

.navbar {
    margin-top: 10px;
}


div.links {
    color: black;
    position: relative;
   display: inline-block;
}

MDBContainer.links {
    text-align: right;
    position: relative;
    float: right;
}

  
div.container {
    text-align: left;
    padding: 30px;
    }


body {
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}


.img__wrap {
    position: relative;
    height: 100%;
    width: 100%;
  }

  
.mainTitle {
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}

.TextWrap {
float: right;
margin: 20px;
width: 40%;
border-radius: 50%;
}


.howLink {
    color: black;
    font-size: 20px;
    float: right;
    padding: 10px;
}

.howLink:hover {
    font-style: italic;
   
}


